# Python
__pycache__/
*.pyc
.env
.envrc

# Virtual environment
.venv/
venv/

# Env files
*.env
*.env.*

# Database
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Config
config.yaml

#Identity
identity